body{
  text-align: center;
  margin-top: 3%;
  background-color: black;
}
.btn-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 5%;
  gap: 5px;
}
.active{
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.btn{
  height: 200px;
  width: 200px;
  margin: 0;
  border: none;
}
.btn:hover{
  cursor: pointer;
  box-shadow: inset 0px 0px 7px 3px black;
}
.btn-red{
  background-color: red;
  border-top-left-radius: 100%;
}
.btn-blue{
  background-color: blue;
  border-top-right-radius: 100%;
}
.btn-green{
  background-color: green;
  border-bottom-left-radius: 100%;
}
.btn-yellow{
  background-color: yellow;
  border-bottom-right-radius: 100%;
}

.flash{
  background-color: white;
}
